.DS_Store
*.pag
*.log
*.aux
*.blg
*.nav
*.snm
*.toc
*.vrb
*.pdf
*.bbl
*.*~
*.out
*.o
*.hi
llncs.*
Setup.hs
Incremental
Run
auto/
out-jtabwb/
back/
dist-newstyle/
old/
local/
_prover/ctrees-plainproblem.tex
_prover/proof-plainproblem.tex
_prover/model.tex